other
web
source/cdb
source/base
source/ddsqlite
source/save
source/zfns
*.o
*.obj
*.exp
*.lib
*.dll
*.dylib
*.so
downlib.sh
run.sh
upbinaries.sh
uplib.sh
lib/android/jni/src
lib/android/libs
lib/android/obj
lib/cpp/makeall.sh
lib/cpp/makelinux.sh

