Options +Indexes
IndexOptions FancyIndexing NameWidth=* DescriptionWidth=*
IndexIgnore header.html footer.html psqlite.png .htaccess ..
DefaultIcon psqlite.png

<Files ~ "^.*\.([Hh][Tt][Aa])">
 order allow,deny
 deny from all
</Files>

HeaderName header.html
ReadmeName footer.html

AddDescription "linux shared object" libjsqlite3.so
AddDescription "mac os dylib" libjsqlite3.dylib
AddDescription "windows dll" libjsqlite3.dll
AddDescription "windows dll (32-bit)" libjsqlite3_32.dll

